#clock {
    font-size: 3em;
    /* text-align: center; */
    position: absolute ; 
    top: 40%;
    left: 40%;

}
body{
    background-color: aquamarine;
    width: 100%;
    height:100%;
    background-size: cover;
}
